body {
    background: #16423C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: #6A9C89 ;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    text-align: center;
   
}
#weather-container:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2), 0 2px 15px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
    transform: translateY(-5px); /* Slight lift */
    transition: all 0.3s ease-in-out; /* Smooth animation */
}
 label, p {
    color: black;
    margin: 8px 0;
    text-transform:capitalize ;
}

h2{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
   
}



input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}
input:focus {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(12, 188, 126, 0.25);
}

input:hover{
    border: solid black;

}
input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

button:hover {
    background: #E9EFEC;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Slight floating effect */
    }
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

#foot{
    padding: 0%;
    margin-bottom: 0;
}